{% extends "layout.html" %}

{% block content %}
<div class="main-content">
    <h2 class="title">Favori Videolarım</h2>
    <div class="video-list">
        {% if favorite %}
            {% for show in favorite %}
            
                <div class="video-item">
                    <a href="{{ url_for('videos', category=show.show_category+'/'+show.show_name ) }}" class="video-link">
                        <img src="{{ url_for('static', filename='videos/' + show.show_category + '/' + show.show_name + '/thumbnail.jpg') }}" alt="{{ show }}" class="thumbnail">
                        {{ video }}
                    </a>
                    <form action="{{ url_for('remove_favorite', video_name=video) }}" method="POST">
                        <button type="submit" class="remove-favorite-btn">Favorilerden Kaldır</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-favorites">Henüz hiç favori eklenmedi.</p>
        {% endif %}
    </div>
    <a href="javascript:history.back()" class="back-button">← Geri</a>
</div>
{% endblock %}
