<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<!-- Header Bölümü -->
 <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>
  <!-- Arama Çubuğu -->
<div class="search-container">
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" id="search-bar" name="query" placeholder="When life gives you lemons, eat pineapple...">
        <button type="submit" class="search-button">Ara</button>
    </form>
</div>

<!-- Ana Butonlar (Diziler ve Filmler) -->
<div class="button-container">
    <a href="{{ url_for('shows', category='diziler') }}" class="main-button">Diziler</a>
    <a href="{{ url_for('shows', category='filmler') }}" class="main-button">Filmler</a>
    <a href="{{ url_for('favorite') }}" class="main-button">Favoriler</a>
</div>


{% endblock %}