{%extends "layout.html" %}
    {% block content %}
    <h1>{{ category.capitalize() }}</h1>
    
    <div class="video-list">
        {% for show in shows %}
            <div class="video-item">
                <a href="{{ url_for('videos', category=category+'/'+show.name ) }}">
                    <img class="thumbnail" src="{{ url_for('static', filename='videos/' + category + '/' + show.name + '/thumbnail.jpg') }}" alt="{{ show.name }}"> 
                    <p>{{ show.name }}</p>
                </a>
                
                                
            </div>
        {% endfor %}
    </div>

    <style>
        /*.video-list {
            display: flex;
            flex-wrap: wrap;
         justify-content: flex-start;
            gap: 20px;
         padding: 20px;
        }*/

        

        /*.video-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    }*/
    main {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 20px;}

    .main-content {
        display: block;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;}
        
        .add-to-favorites-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .add-to-favorites-btn:hover {
            background-color: #2980b9;
        }
    </style>
    {% endblock %}