{%extends "layout.html" %}
    {% block content %}
    <h1>{{ category.capitalize() }}</h1>
    
    <div class="video-list">
        {% for show in shows %}
            <div class="video-item">
                <a href="{{ url_for('videos', category=category+'/'+show.name ) }}">
                    <img src="{{ url_for('static', filename='videos/' + category + '/' + show.name + '/thumbnail.jpg') }}" alt="{{ show.name }}"> 
                    <p>{{ show.name }}</p>
                </a>
                
                                
            </div>
        {% endfor %}
        <a href="javascript:history.back()" class="back-button">← Geri</a> <!-- button -->
    </div>

    <style>
        .video-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .video-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            margin: 20px;
            text-align: center;
            width: 200px;
        }
        
        .add-to-favorites-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .add-to-favorites-btn:hover {
            background-color: #2980b9;
        }
    </style>
    {% endblock %}