{%extends "layout.html" %}
    {% block content %}
    <h1 class="show-category">{{ category.capitalize() }}</h1>
    </br>
    <div class="video-list">
        {% for show in shows %}
            <div class="video-item">
            </br>
                <a href="{{ url_for('videos', category=category+'/'+show.name ) }}">
                    <img src="{{ url_for('static', filename='videos/' + category + '/' + show.name + '/thumbnail.jpg') }}" alt="{{ show.name }}" class = "thumbnail"> 
                    <p>{{ show.name }}</p>
                </a>
                
                                
            </div>
        {% endfor %}
        
    </div>

    <style>
        /* .video-list {
            display: flex;
            flex-wrap: wrap;
         justify-content: flex-start;
            gap: 20px;
         padding: 20px;
        } */

        /* .video-item {
        width: 200px;
        text-align: center;
        }

        .video-item img {
            width: 100%;
            height: auto;
            border-radius: 8px; *
    }*/

        
        .add-to-favorites-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .add-to-favorites-btn:hover {
            background-color: #2980b9;
        }
    </style>
    {% endblock %}