{% extends "layout.html" %}

{% block content %}
    
    
    <div class="video-list">
        {% for video in videos %}
            <div class="video-item">
                <a href="{{ url_for('video', name=category+'/'+ video.name) }}">
                    <img src="{{url_for('static',filename='/videos/'+category+'/thumbnail.jpg/')}}" alt="{{ video.name }}">   
                    <p>{{ video.name[0:-3]+" Bölüm" }}</p>
                </a>
              
            </div>
        {% endfor %}
    </div>

    <style>
        .video-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
        
        .video-item {
            margin: 20px;
            text-align: center;
            width: 200px;
        }
        
        .video-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        
        .add-to-favorites-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .add-to-favorites-btn:hover {
            background-color: #2980b9;
        }
    </style>
{% endblock %}
