{% extends "layout.html" %}

{% block content %}
    
    
    <div class="video-list">
        <a href="javascript:history.back()" class="back-button">← Geri</a>
        {% for video in videos %}
            <div class="video-item">
                <a href="{{ url_for('video', name=category+'/'+ video.name) }}">
                    <img src="{{url_for('static',filename='/videos/'+category+'/thumbnail.jpg/')}}" alt="{{ video.name }}">   
                    <p>{{ video.name }}</p>
                </a>
                
                <!-- Favorilere Ekle Butonu -->
                <form action="{{ url_for('add_to_favorites') }}" method="POST">
                    <input type="hidden" name="video_name" value="{{ video.name }}">
                    <button type="submit" class="add-to-favorites-btn">Favorilere Ekle</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <style>
         .back-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 10px 15px;
        background-color: #e74c3c;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;
        z-index: 1000; 
    }

    .back-button:hover {
        background-color: #c0392b;
    }
        .video-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .video-item {
            margin: 20px;
            text-align: center;
            width: 200px;
        }
        
        .video-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        
        .add-to-favorites-btn {
            margin-top: 10px;
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .add-to-favorites-btn:hover {
            background-color: #2980b9;
        }
    </style>
{% endblock %}
